<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        var http = require('http');
        var fs = require('fs');

        function onRequest(request, response){

            if(request.method == 'GET' && request.url == '/'){
                response.writeHead(200, {"Content-Type":"text/html"});
                fs.createReadStream("\\wsl$\Ubuntu\home\hyeonsu\nest_ilsung\public\index.html").pipe(response);
            } else{
                send404Message(response);
            }
        }
    </script>
</body>
</html>